.App {
  font-family: sans-serif;
  text-align: center;
  display: block;
}

/* Override default */
.Draftail-Toolbar {
  background: transparent !important;
  border: none !important;
}

.DraftEditor-root {
  overflow: hidden !important;
}

/* Override default */
.Draftail-Editor {
  border: none !important;
  width: 60% !important;
  margin-top: 100px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  font-size: 21px !important;
}

/* Override default */
.public-DraftEditor-content {
  font-family: Georgia, "Times New Roman", Times, serif !important;
}

/* Override default */
.public-DraftEditorPlaceholder-inner {
  font-family: Georgia, "Times New Roman", Times, serif !important;
  color: rgb(133, 112, 112) !important;
  font-size: 21px !important;
  font-style: italic;
}

.Draftail-block--unstyled {
  font-size: 21px !important;
}